In [1]:
import pandas as pd

In [45]:
df = pd.DataFrame()
for i in range(1, 5):
    l = []
    #df.append(l)
    for j in range(1, 5):
        l.append(j)
    l = pd.Series(l)
    df = pd.concat([df, l], axis = 1)
    #df.append(pd.DataFrame(data = l), ignore_index = True)
df.columns = ['a', 'b', 'c', 'd']
df.index = [1, 2, 3, 4]
df

   a  b  c  d
1  1  1  1  1
2  2  2  2  2
3  3  3  3  3
4  4  4  4  4

In [32]:
df.columns = ['a', 'b', 'c', 'd']

In [46]:
a = '0.1'

In [48]:
float(a)

0.1